name: Keep Render Alive

on:
  workflow_dispatch:
  schedule:
  - cron: "*/10 * * * *"

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render App
        run: |
          curl -fsS https://orders-km0s.onrender.com/ || exit 1
